@import "../theme.scss";
@import "bootstrap/scss/bootstrap.scss";

html {
  min-height: 100%;
}

html,
body,
#__next {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#__next {
  min-width: $spacing-base * 20;
  min-height: $spacing-base * 40;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: $spacing-base;
}
