@import "../theme.scss";

.footer {
  background: $gray-200;
  margin-top: auto;
  padding: $spacing-base 0;
  text-align: center;
  user-select: none;
  font-size: $font-size-base * 3/4;
  color: $gray-600;
}
