@import "../theme.scss";

.queryForm {
  min-width: $spacing-base * 18;
  max-width: $paragraph-max-width;
  margin: $spacing-base auto 0;

  h1,
  :global(.form-buttons) {
    text-align: center;
  }

  fieldset {
    display: flex;
    width: 100%;
    margin-top: $spacing-base;
  }

  :global .form-group {
    flex-grow: 1;
  }
}

.queryFormInline {
  background: $primary;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;

  :global .form-group {
    margin: 0 $spacing-base;
    flex-grow: 1;
  }
}
