@import "../theme.scss";

.query-form {
  max-width: $paragraph-max-width;
  margin: $spacing-base auto 0;

  h1,
  .form-buttons {
    text-align: center;
  }

  fieldset {
    margin-top: $spacing-base;
  }
}

.query-form-inline {
  background: $primary;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;

  .form-group {
    margin: 0 $spacing-base;
    flex-grow: 1;
  }
}
